#secretos-title{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: Roboto;
    font-size: 5vh;;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 1px 1px 0px #bbbbbb,  4px 4px 0px rgba(1, 1, 0, 0.2);
}

#img{
    max-width: 450px;
    display: flex;
    margin: auto;
}

#img-2{
    max-width:450px;
    min-width: 300px;
    min-height: 230px;
    display: flex;
    margin: auto;
}

#container-secrets{
    padding:5%;
}


#frame{
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Responsive Design */

@media (max-width:720px){
    #frame{
        max-width: 280px;
        max-height: 220px;
    }

    #secretos-title{
        background-color: rgba(207, 207, 207, .8);
        border-radius: 10%;
    }
}